.song-titles {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "title title"
    "songs filter";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  position: absolute;
  height: 70vh;
  width: 50vw;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 30px 5px rgb(30 30 30 / 0.5);
  border-radius: 5px;
  border: 1px solid #fefefe;
  transform: translate(-50%, -50%);
  background-color: rgb(128 128 128 / 0.5);
}

.song-titles__list {
  box-sizing: border-box;
  list-style: none;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.song-titles__list-item:nth-of-type(2n) {
  background-color: rgb(124 154 200 / 0.4);
}

.song-titles__list {
  grid-area: songs;
}

.song-titles__title {
  grid-area: title;
}

.song-artist {
  color: rgb(124 154 200 / 0.8);
  text-decoration: none;
}

.song-artist:hover {
  color: rgb(69, 99, 143);
}
